<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lbn.mapper.SetmealMapper">
    <insert id="insertSetmealAndCheckGroup">
        insert into t_setmeal_checkgroup(setmeal_id,checkgroup_id)
        values (#{setmealId},#{checkgroupId});
    </insert>
    <delete id="deleteSetmealAndCheckGroup">
        delete from t_setmeal_checkgroup where setmeal_id = #{setmealid};
    </delete>
    <select id="listCheckGroupIdsBySetmealId" resultType="java.lang.Integer">
        select checkgroup_id from t_setmeal_checkgroup where setmeal_id = #{id};
    </select>

</mapper>